<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pets and owners</title>
</head>
<body>
    <div class="container" align="center">
        <a href="/addpet">Add a Pet</a>
        <h1>Pets and their Owners</h1>

        <div th:each="owner : ${people}">

            <h2 th:text="${owner.personName}"></h2>

            <h3 th:text="${#lists.size(peoplePets.findAllByOwner_Id(owner.id))>0}?'My Pets':'No pets for me'"></h3>

                <div th:each="personpets : ${peoplePets.findAllByOwner_Id(owner.id)}">
                    <p th:text="${personpets.pet.petName}"></p>
                </div>
        </div>
    </div>
</body>
</html>