<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Owner Form</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Owner Form</h1>-->

<!--<form action="#"-->
<!--      th:action="@{/processowner}"-->
<!--      th:object="${person}"-->
<!--      method="post">-->

<!--    <div class="container">-->
<!--        <input type="hidden" th:field="*{id}"/>-->

<!--        Owner: <input type="text" th:field="*{personName}"/>-->

<!--        <span th:if="${#fields.hasErrors('personName')}"-->
<!--              th:errors="*{personName}"></span>-->

<!--        <br>-->
<!--    </div>-->

<!--    <input type="submit" value="Submit">-->

<!--</form>-->

<!--</body>-->
<!--</html>-->