<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Pet Form</title>
</head>
<body>
<form action="#" method="post" th:action="@{/savepet}" th:object="${aPet}">
    <div class="container">
        <input th:field="*{id}" type="hidden">
        <input th:field="*{petName}" type="text">
        <select th:field="*{owners}" > <!--multiple-->
            <option th:each="owner:${petowners}"
                    th:text="${owner.ownerName}"
                    th:value="${owner.id}">
            </option>
        </select>
    </div>
    <button type="submit">Save Pet</button>
</form>
</body>
</html>