<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pet Form</title>
</head>
<body>
<h1>Pet Form</h1>
<form action="#"
      th:action="@{/processpet}"
      th:object="${pet}"
      method="post"> <!-- method set to "get" worked for msha-->

    <div class="container">
        <input type="hidden" th:field="*{id}">

        <input type="text" th:field="*{petName}">

        <select th:field="*{peoplePets}" multiple>
            <option th:each="owner : ${people}"
                    th:text="${owner.personName}"
                    th:value="${owner.id}">
            </option>
        </select>
    </div>

    <button type="submit">Save Pet</button>
</form>
</body>
</html>